<mat-card class="paper-card mat-elevation-z8" >
  <mat-card-title style="text-align: center">
    <span>Personalia</span>
  </mat-card-title>
  <mat-card-content>
    <form class="flex-block" #RegisterForm="ngForm">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input  matInput  placeholder="Voornaam"  name="fname" [(ngModel)]="user.voornaam"  required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Achternaam" name="lname" [(ngModel)]="user.naam" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Postcode</mat-label>
        <input  matInput pattern="[0-9]{4}[a-zA-Z]{2}"  placeholder="Postcode" name="postcode" [(ngModel)]="user.postcode" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Huisnummer</mat-label>
        <input  matInput type="number" placeholder="bijv. '1'" name="huisnummer" [(ngModel)]="user.huisnummer" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Toevoeging</mat-label>
        <input  matInput  placeholder="Toevoeging" name="toevoeging" [(ngModel)]="user.toevoeging">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  placeholder="Email" name="email" [(ngModel)]="user.email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput type="password" minlength="8" placeholder="Minimaal 8 tekens"  name="password" [(ngModel)]="user.wachtwoord"  required>
      </mat-form-field>
    </form>
    <div class="flexbuttons">
      <mat-card-actions>
        <button mat-raised-button [disabled]="!RegisterForm.valid" (click)="update()" color="primary">Update</button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
