#menubalk{
  padding: 0;
  height: 2.6em;
  width: 100vw;

  background-color: #EEE;
}
.mat-button{
  padding: 3px 10px;
}
.flex{
  padding: 0 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.cat{
  align-self: center;
}
.imgbox{

}
#logo {
  width: 30px;
  height: 30px;
}
#container{
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
#router{
  /*max-width: 80vw;*/
  padding: 30px 18vw;
}
